@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);





h1, .h1 {
    font-size: 2.5rem;
    color: teal;
}

h2, .h2 {
    font-size: 2rem;
    color: forestgreen}


table td {
    vertical-align: top;
}




#container
{

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    height: 50%;
    min-height: 825px;
    float:left;

    min-width: 1200px;
    font-family: 'Roboto', sans-serif;


}


#submitFile
{
    float:left;
    width:47.5%;

    text-align: justify;
    text-justify: inter-word;

    height: 100%;
}

#fill3{
    float:left;
    width: 5%;
    height: 100%;
}



#oclContainer
{
    float:left;
    width:47.5%;
    height: 100%;

}

#chemDoodleSketcher
{
    float:left;
    width:47.5%;
    height: 100%;

}




#listSubmittedFiles{
    float:bottom;
    width:50%;

}

#errorDiv{
    color:red;

}

#resubmit{
    margin-top: 10px;

    float:left;
}


#distributions_no_user_score_parent{
    vertical-align: center;
    text-align:center;
    height: 950px;
    min-width: 1000px;
    width: 100%;

    float: left;

    font-family: 'Roboto', sans-serif;

}

#distributions_no_user_score{
    margin:auto;
    height: 80%;
    width: 100%;
}



#resultsBody{
    margin-left: 3%;
    margin-right: 3%;
    width:100%;
    float: left;
}

#resultsTable {
    /*<!--border: 1px solid black;-->*/
    width:100%;
    float: left;

}


#foot{
    background-color: #305392;
    color: white;
    float: left;
    height: 10%;
    min-height: 100px;
    width: 100%;
    margin-bottom: 1%;
}





