@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);


:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #111;
    --secondary: #507dbc;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }




h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; }

h1, .h1 {
    font-size: 2.5rem;
    color: teal;
}

h2, .h2 {
    font-size: 2rem;
    color: forestgreen}

h3, .h3 {
    font-size: 1.75rem; }

h4, .h4 {
    font-size: 1.5rem; }

h5, .h5 {
    font-size: 1.25rem; }

h6, .h6 {
    font-size: 1rem; }


table td {
    vertical-align: top;
}


#headercheminf{
    margin-left: 10%;
}

#container
{

    margin-left: 5%;
    margin-right: 5%;
    height: 700px;
}


#submitFile
{
    float:left;
    width:47.5%;

    text-align: justify;
    text-justify: inter-word;

    height: 100%;
}

#fill3{
    float:left;
    width: 5%;
    height: 100%;
}

#chemDoodleSketcher
{
    float:left;
    width:47.5%;
    height: 100%;

}



#listSubmittedFiles{
    float:bottom;
    width:50%;

}

#errorDiv{
    color:red;

}

#resultsTable {
    /*<!--border: 1px solid black;-->*/
    width:50%;
    vertical-align: center;
}


#distributions_no_user_score_parent{
    vertical-align: center;
    text-align:center;
    height: 700px;
    width: 100%

}

#distributions_no_user_score{
    margin:auto;
    height: 100%;
    width: 80%;
}

#npPanel{
    width: 1200px;
    height: 900px;
}



