<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>NP-likeness scorer</title>
    <link rel="stylesheet" href="/css/main.css" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">

<!--
    <link rel="stylesheet" href="/ChemDoodleWeb-8.0.0/install/ChemDoodleWeb.css" type="text/css">
    <script type="text/javascript" src="/ChemDoodleWeb-8.0.0/install/ChemDoodleWeb.js"></script>


    <link rel="stylesheet" href="ChemDoodleWeb-8.0.0/install/uis/jquery-ui-1.11.4.css" type="text/css">
    <script type="text/javascript" src="/ChemDoodleWeb-8.0.0/install/uis/ChemDoodleWeb-uis.js"></script>
-->

    <script src="https://www.lactame.com/lib/openchemlib/5.6.1/openchemlib-full.js"></script>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>






<body>




<div id="headercheminf">

    <a href="https://cheminf.uni-jena.de"><img style="max-width: 100%; max-height:100%;float:right;" src="/img/npls_banner.jpeg"></a>
</div>


<img src="/img/pleasewait.gif" id="waitimg" style="display: none ; position: fixed; top:0;left:0;right:0;bottom:0;margin:auto;z-index: 2;"/>


<div id="container">



    <div id="submitFile">

        <br>
        <br>
        <h2>About</h2>
        Natural product-likeness of a molecule, <it>i.e.</it> similarity of this molecule to the structure space covered by natural products,
        is a useful criterion in screening compound libraries and in designing new lead compounds.
        This NP-likeness scorer has been trained on 315 916 natural products (NP) from various public databases,
        on a manually curated NP dataset used for the publication of the previous standalone NP-likeness scorer [1]
        and on 488 642 randomly selected synthetic molecules (SM) from the <a href="http://zinc15.docking.org/substances/subsets/">ZINC</a> database.
        <br>
        <br>
        Sugar moieties are removed from the molecules for the training and for the computation of the NP-likeness score as in [2]
        <br>
        <it>The stereochemistry is removed from the training set and from the user-submitted molecules.</it>

        <br>
        <br>
        <strong>Four ways to use the NP-likeness scorer:</strong>
        <ul>
            <li>Upload a molecular file in one of the accepted formats (MOL, SDF or smiles). Maximum 200 molecules per file.</li>
            <li>Paste a SMILES string of a molecule</li>
            <li>Draw a molecule</li>
            <li>Visualise the distribution of the NP-likeness score across natural products of public databases and taxonomy (bacteria, fungi and plants)</li>
        </ul>




        <h2>Upload a file</h2>
        <form id="fileUpload" method="POST" enctype="multipart/form-data" action="/file">
            <table>
                <tr><td>Molecular file to upload :</td><td><input type="file" name="file" /></td></tr>
                <tr><td><small>Accepted formats: SDF, MOL, SMILES.<br />Max number of molecules: 200</small></td><td><input type="submit" value="Upload & start scorer"  id="files-button"/></td></tr>
            </table>
        </form>

        <div th:if="${noFileError}" id="errorDiv">
            <p>Please, submit a file</p>
        </div>


        <div th:if="${badFileType}" id="errorDiv">
            <p>Bad file type. Files accepted: MOL, SDF, SMI</p>
        </div>

        <h2>Paste SMILES string</h2>
        <form id="smilesUpload" method="POST" enctype="text/plain" action="/smiles">
            <table>
                <tr><td>SMILES: </td><td><input type="text" name="smiles" cols="45" /></td></tr>
                <tr><td><small>All SMILES types accepted but stereochemistry and isotopes will be ignored</small></td><td><input type="submit" value="Upload & start scorer" id="smiles-button"/></td></tr>
            </table>

        </form>

        <div th:if="${notSmiles}" id="errorDiv">

            <p>The pasted string is empty or is not a SMILES</p>

        </div>
    </div>

    <div id="fill3"></div>


    <div id="oclContainer">
        <br>
        <br>
        <h2>Draw a molecule</h2>

        <table>

            <tr><td>
                <div id="editor" style="width: 500px; height:400px; border: solid; border-width:1px; position:relative;"></div>
                <script>
                    let editor = OCL.StructureEditor.createEditor("editor");
                </script>

            </td></tr>

            <tr>

                <td>
                    <button class="submit-mol-button-ocl">Submit molecule</button>
                </td>


            </tr>


        </table>

        <br><br><strong>Confidentiality:</strong><br>
        The molecules are kept confidential and can be deleted after processing.


    </div>




</div>

<div id="fill4">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>


<div id="distributions_no_user_score_parent">


    <h2>Distribution of NP-likeness score across databases, taxonomy and molecular size</h2>
    <div id="distributions_no_user_score">

    </div>
    <div id="bibliography">
        <p>[1] Jayaseelan et al.,  Natural product-likeness score revisited: an open-source, open-data implementation.
            In: BMC Bioinformatics, 13 (1), pp. 106, 2012.</p>
        <p>[2] Peter Ertl et al., Natural Product-likeness Score and Its Application for Prioritization of Compound Libraries.
            In: Journal of Chemical Information and Modeling 48 (1), 68-74, 2008</p>
    </div>
</div>






<div th:if="${uncorrectMolecule}">
    <h2 th:text="${uncorrectMolecule}"/>
</div>



<script>
    /*
        $('.submit-mol-button').click(function(){
            //alert(ChemDoodle.writeMOL(sketcher.getMolecule()));


            $.ajax
            ({
                url: '/drawing',
                data: JSON.stringify(ChemDoodle.writeMOL(sketcher.getMolecule())) ,
                type: 'POST',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                error: function(){window.location.href = "/results"; },
                //error: function(xhr, status, error) {

                  //  alert();
                //},
                success: function () {
                    window.location.href = "/results";
                }
            });
        });
    */


    /* ****** SHOW WAITING IMAGE *********** */
    $('.submit-mol-button-ocl').click(function(){

        $('#waitimg').show();
        $.ajax
        ({
            url: '/drawing',
            data: JSON.stringify(editor.getMolFile() ) ,
            type: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            error: function(){window.location.href = "/results"; },
            //error: function(xhr, status, error) {

            //  alert();
            //},
            success: function () {
                $('#waitimg').hide();
                window.location.href = "/results";
            }
        });

    });

    document.getElementById("smiles-button").addEventListener("click", function(evt){
        document.getElementById("waitimg").style.display = 'block';
    });

    document.getElementById("files-button").addEventListener("click", function(evt){
        document.getElementById("waitimg").style.display = 'block';
    });



</script>



<script th:inline="javascript">
    /*<![CDATA[*/

    // ***************************************
    //getting data from Spring Controller
    let npXdata = /*[[${npXdataNP}]]*/ 'default';
    let npYdata = /*[[${npYdataNP}]]*/ 'default';

    let npXdataSM = /*[[${npXdataSM}]]*/ 'default';
    let npYdataSM = /*[[${npYdataSM}]]*/ 'default';


    // by taxonomy
    let npXdataBACTERIA = /*[[${npXbacteria}]]*/ 'default';
    let npYdataBACTERIA = /*[[${npYbacteria}]]*/ 'default';

    let npXdataFUNGI = /*[[${npXfungi}]]*/ 'default';
    let npYdataFUNGI = /*[[${npYfungi}]]*/ 'default';

    let npXdataPLANTS = /*[[${npXplants}]]*/ 'default';
    let npYdataPLANTS = /*[[${npYplants}]]*/ 'default';





    //by DB

    let npXdataUEFS = /*[[${npXuefs}]]*/ 'default';
    let npYdataUEFS = /*[[${npYuefs}]]*/ 'default';

    let npXdataHIT = /*[[${npXhit}]]*/ 'default';
    let npYdataHIT = /*[[${npYhit}]]*/ 'default';

    let npXdataSANCDB = /*[[${npXsancdb}]]*/ 'default';
    let npYdataSANCDB = /*[[${npYsancdb}]]*/ 'default';

    let npXdataAFRODB = /*[[${npXafrodb}]]*/ 'default';
    let npYdataAFRODB = /*[[${npYafrodb}]]*/ 'default';

    let npXdataNPACT = /*[[${npXnpact}]]*/ 'default';
    let npYdataNPACT = /*[[${npYnpact}]]*/ 'default';

    let npXdataSELLECKCHEM = /*[[${npXselleckchem}]]*/ 'default';
    let npYdataSELLECKCHEM = /*[[${npYselleckchem}]]*/ 'default';

    let npXdataCHEMBL = /*[[${npXchembl}]]*/ 'default';
    let npYdataCHEMBL = /*[[${npYchembl}]]*/ 'default';

    let npXdataNUBBE = /*[[${npXnubbe}]]*/ 'default';
    let npYdataNUBBE = /*[[${npYnubbe}]]*/ 'default';

    let npXdataSTREPTOMEDB = /*[[${npXstreptomedb}]]*/ 'default';
    let npYdataSTREPTOMEDB = /*[[${npYstreptomedb}]]*/ 'default';

    let npXdataPUBCHEM = /*[[${npXpubchem}]]*/ 'default';
    let npYdataPUBCHEM = /*[[${npYpubchem}]]*/ 'default';

    let npXdataNANPDB = /*[[${npXnanpdb}]]*/ 'default';
    let npYdataNANPDB = /*[[${npYnanpdb}]]*/ 'default';

    let npXdataCHEBI = /*[[${npXchebi}]]*/ 'default';
    let npYdataCHEBI = /*[[${npYchebi}]]*/ 'default';

    let npXdataNPATLAS = /*[[${npXnpatlas}]]*/ 'default';
    let npYdataNPATLAS = /*[[${npYnpatlas}]]*/ 'default';

    let npXdataTCMDB = /*[[${npXtcmdb}]]*/ 'default';
    let npYdataTCMDB = /*[[${npYtcmdb}]]*/ 'default';

    let npXdataIBS = /*[[${npXibs}]]*/ 'default';
    let npYdataIBS = /*[[${npYibs}]]*/ 'default';

    let npXdataOLD2012 = /*[[${npXold2012}]]*/ 'default';
    let npYdataOLD2012 = /*[[${npYold2012}]]*/ 'default';

    let npXdataZINCNP = /*[[${npXzincnp}]]*/ 'default';
    let npYdataZINCNP = /*[[${npYzincnp}]]*/ 'default';

    let npXdataUNPD = /*[[${npXunpd}]]*/ 'default';
    let npYdataUNPD = /*[[${npYunpd}]]*/ 'default';

    let npXdataSUPERNATURAL = /*[[${npXsupernatural}]]*/ 'default';
    let npYdataSUPERNATURAL = /*[[${npYsupernatural}]]*/ 'default';











    let npXdataDRUGBANK = /*[[${npXdrugbank}]]*/ 'default';
    let npYdataDRUGBANK = /*[[${npYdrugbank}]]*/ 'default';

    let npXdataHMDB = /*[[${npXhmdb}]]*/ 'default';
    let npYdataHMDB = /*[[${npYhmdb}]]*/ 'default';






    let npXacTranche1 = /*[[${npXacTranche1}]]*/ 'default';
    let npYacTranche1 = /*[[${npYacTranche1}]]*/ 'default';

    let npXacTranche2 = /*[[${npXacTranche2}]]*/ 'default';
    let npYacTranche2 = /*[[${npYacTranche2}]]*/ 'default';

    let npXacTranche3 = /*[[${npXacTranche3}]]*/ 'default';
    let npYacTranche3 = /*[[${npYacTranche3}]]*/ 'default';

    let npXacTranche4 = /*[[${npXacTranche4}]]*/ 'default';
    let npYacTranche4 = /*[[${npYacTranche4}]]*/ 'default';


    let globalCounts = /*[[${globalCounts}]]*/ 'default';





    // data obtained
    // ***************************************



    console.log( Plotly.BUILD );


    // ***************************************

    // ***************************************
    // building object to trace for all NP
    var traceNP = {
        x: npXdata,
        y: npYdata ,
        //legendgroup: 'general',
        mode: 'lines',
        name: 'All Natural Products ('+globalCounts.countAllNP +')' ,
        line: {
            shape: 'spline',
            // color: 'rgb(0, 152, 76)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // ***************************************

    // ***************************************
    // building object to trace for all SM

    var traceSM = {
        x: npXdataSM,
        y: npYdataSM ,
        //legendgroup: 'general',
        mode: 'lines',
        name: 'All Synthetic Products ('+globalCounts.countAllSM+')',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // ***************************************
    // building object to trace for BACTERIA

    var traceBACTERIA = {
        x: npXdataBACTERIA,
        y: npYdataBACTERIA ,
        //legendgroup: 'bytaxonomy',
        mode: 'lines',
        name: 'Bacteria ('+globalCounts.countBacteria+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };

    // ***************************************
    // building object to trace for FUNGI

    var traceFUNGI = {
        x: npXdataFUNGI,
        y: npYdataFUNGI ,
        //legendgroup: 'bytaxonomy',
        mode: 'lines',
        name: 'Fungi ('+globalCounts.countFungi+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };

    // ***************************************
    // building object to trace for PLANTS

    var tracePLANTS = {
        x: npXdataPLANTS,
        y: npYdataPLANTS ,
        //legendgroup: 'bytaxonomy',
        mode: 'lines',
        name: 'Plants ('+globalCounts.countPlants+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            //color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // ***************************************


    // building object to trace for UEFS
    var traceUEFS = {
        x: npXdataUEFS,
        y: npYdataUEFS ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'UEFS ('+globalCounts.countUEFS+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for HIT
    var traceHIT = {
        x: npXdataHIT,
        y: npYdataHIT ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'HIT ('+globalCounts.countHIT+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for SANCDB
    var traceSANCDB = {
        x: npXdataSANCDB,
        y: npYdataSANCDB ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'SANCDB ('+globalCounts.countSANCDB+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for AFRODB
    var traceAFRODB = {
        x: npXdataAFRODB,
        y: npYdataAFRODB ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'AfroDB ('+globalCounts.countAFRODB+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for NPACT
    var traceNPACT = {
        x: npXdataNPACT,
        y: npYdataNPACT ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'NPACT ('+globalCounts.countNPACT+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for SELLECKCHEM
    var traceSELLECKCHEM = {
        x: npXdataSELLECKCHEM,
        y: npYdataSELLECKCHEM ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'Selleck Chem NP ('+globalCounts.countSELLECKCHEM+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for CHEMBL
    var traceCHEMBL = {
        x: npXdataCHEMBL,
        y: npYdataCHEMBL ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'ChEMBL Natural Products ('+globalCounts.countCHEMBL+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for NUBBE
    var traceNUBBE = {
        x: npXdataNUBBE,
        y: npYdataNUBBE ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'NuBBE ('+globalCounts.countNUBBE+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for STREPTOMEDB
    var traceSTREPTOMEDB = {
        x: npXdataSTREPTOMEDB,
        y: npYdataSTREPTOMEDB ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'StreptomeDB ('+globalCounts.countSTREPTOMEDB+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for PUBCHEM
    var tracePUBCHEM = {
        x: npXdataPUBCHEM,
        y: npYdataPUBCHEM ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'PubChem Natural Products ('+globalCounts.countPUBCHEM+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for NANPDB
    var traceNANPDB = {
        x: npXdataNANPDB,
        y: npYdataNANPDB ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'NANPDB ('+globalCounts.countNANPDB+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for CHEBI
    var traceCHEBI = {
        x: npXdataCHEBI,
        y: npYdataCHEBI ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'ChEBI Natural Products ('+globalCounts.countCHEBI+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for NPATLAS
    var traceNPATLAS = {
        x: npXdataNPATLAS,
        y: npYdataNPATLAS ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'NP Atlas ('+globalCounts.countNPATLAS+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for TCMDB
    var traceTCMDB = {
        x: npXdataTCMDB,
        y: npYdataTCMDB ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'TCMDB ('+globalCounts.countTCMDB+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for ZINC NP
    var traceIBS = {
        x: npXdataIBS,
        y: npYdataIBS ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'InterBioScreen NP ('+globalCounts.countIBS+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for OLD2012
    var traceOLD2012 = {
        x: npXdataOLD2012,
        y: npYdataOLD2012 ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'Manually curated NP dataset ('+globalCounts.countOld2102+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for ZINC NP
    var traceZINCNP = {
        x: npXdataZINCNP,
        y: npYdataZINCNP ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'ZINC Natural Products ('+globalCounts.countZINCNP+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for UNPD
    var traceUNPD = {
        x: npXdataUNPD,
        y: npYdataUNPD ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'UNPD ('+globalCounts.countUNPD+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for SUPERNATURAL
    var traceSUPERNATURAL = {
        x: npXdataSUPERNATURAL,
        y: npYdataSUPERNATURAL ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'Supernatural II ('+globalCounts.countSUPERNATURAL+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };





    // building object to trace for HMDB
    var traceHMDB = {
        x: npXdataHMDB,
        y: npYdataHMDB ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'HMDB',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for DRUGBANK
    var traceDRUGBANK = {
        x: npXdataDRUGBANK,
        y: npYdataDRUGBANK ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'DrugBank ('+globalCounts.countDRUGBANK+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    // building object to trace for BY SIZE
    var traceACTranche1 = {
        x: npXacTranche1,
        y: npYacTranche1 ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'molecule size < 30 atoms (SM & NP - '+globalCounts.countTranche1+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };

    var traceACTranche2 = {
        x: npXacTranche2,
        y: npYacTranche2 ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'molecule size between 30 and 35 atoms (SM & NP - '+globalCounts.countTranche2+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };


    var traceACTranche3= {
        x: npXacTranche3,
        y: npYacTranche3 ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'molecule size between 35 and 40 atoms (SM & NP - '+globalCounts.countTranche3+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };

    var traceACTranche4 = {
        x: npXacTranche4,
        y: npYacTranche4 ,
        //legendgroup: 'bydatabase',
        mode: 'lines',
        name: 'molecule size >=40 atoms (SM & NP - '+globalCounts.countTranche4+')',
        visible: 'legendonly',
        line: {
            shape: 'spline',
            // color: 'rgb(76, 0, 153)',
            width: 2
        },
        type: 'scatter',
        hoverinfo:'x',
    };



    // ***************************************


    // ***************************************
    // Prepare and plot

    let data = [traceNP, traceSM,

        traceUEFS, traceHIT, traceSANCDB, traceAFRODB, traceNPACT, traceSELLECKCHEM, traceCHEMBL, traceNUBBE, traceSTREPTOMEDB, tracePUBCHEM,
        traceNANPDB, traceCHEBI, traceNPATLAS, traceTCMDB, traceIBS, traceOLD2012, traceZINCNP, traceUNPD, traceSUPERNATURAL,

        traceDRUGBANK,

        traceBACTERIA,
        traceFUNGI, tracePLANTS,

        traceACTranche1, traceACTranche2, traceACTranche3, traceACTranche4];

    let layout = {

        xaxis: {
            title: "Natural Products Likeness Score",
            range: [-4,6],
            showgrid: false,
        },
        yaxis: {
            title: "Density",
            range: [0,0.1],
            showgrid: false,
        },
        colorway: 'Rainbow'
    };


    Plotly.newPlot('distributions_no_user_score', data, layout);

    // ***************************************

    /*]]>*/
</script>


</body>
</html>





<!--

    <div id="chemDoodleSketcher">
        <h2>Draw a molecule</h2>

        <table>

            <tr><td>


                <script>

                    ChemDoodle.ELEMENT['H'].jmolColor = 'black';

                    var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 400, {useServices:false, oneMolecule:true});
                    sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;
                    sketcher.specs.atoms_useJMOLColors = true;
                    sketcher.specs.bonds_clearOverlaps_2D = true;
                    sketcher.specs.shapes_color = 'c10000';


                    sketcher.repaint();


                </script>

            </td></tr>

            <tr>

                <td>
                   <button class="submit-mol-button">Submit molecule</button>
                </td>


            </tr>


        </table>

        <br><br><strong>Confidentiality:</strong><br>
        The molecules are kept confidential and will be deleted after processing.


    </div>
-->



<!--
    <div id="listSubmittedFiles">
        <div th:if="${not #lists.isEmpty(files)}">
            Uploaded files:
            <ul>
                <li th:each="file : ${files}">
                    <a th:href="${file}" th:text="${file}" />
                </li>
            </ul>
        </div>

    </div>
   -->
